/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * Mixin printing a linear-gradient
 * as well as a plain color fallback
 * and the `-webkit-` prefixed declaration
 * @access public
 * @param {Keyword | Angle} $direction - Linear gradient direction
 * @param {Arglist} $color-stops - List of color-stops composing the gradient
 *
 * @see https://www.sitepoint.com/building-linear-gradient-mixin-sass/
 */
::selection {
  color: white;
  background-color: red; }

.center {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%); }

.text-center {
  text-align: center; }

@font-face {
  font-family: "Pangram Sans";
  font-weight: 100;
  src: url("fonts/PangramSans/Pangram-ExtraLight.otf"); }

@font-face {
  font-family: "Pangram Sans";
  font-weight: 200;
  src: url("fonts/PangramSans/Pangram-Light.otf"); }

@font-face {
  font-family: "Pangram Sans";
  font-weight: 300;
  src: url("fonts/PangramSans/Pangram-Regular.otf"); }

@font-face {
  font-family: "Pangram Sans";
  font-weight: 400;
  src: url("fonts/PangramSans/Pangram-Medium.otf"); }

@font-face {
  font-family: "Pangram Sans";
  font-weight: 500;
  src: url("fonts/PangramSans/Pangram-Bold.otf"); }

@font-face {
  font-family: "Pangram Sans";
  font-weight: 600;
  src: url("fonts/PangramSans/Pangram-ExtraBold.otf"); }

@font-face {
  font-family: "Pangram Sans";
  font-weight: 700;
  src: url("fonts/PangramSans/Pangram-Black.otf"); }

h1 {
  color: #000;
  font-family: "Pangram Sans", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 5em;
  text-transform: uppercase;
  margin-bottom: 0.1em; }

h2 {
  color: #000;
  font-family: "Pangram Sans", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 3.5em; }

h3 {
  color: #000;
  font-family: "Pangram Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 10px; }

h4 {
  color: #000;
  font-family: "Pangram Sans", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 1em; }

h5 {
  color: #000;
  font-family: "Pangram Sans", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 2em; }

h6 {
  color: #000;
  font-family: "Pangram Sans", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 1em; }

p {
  font-family: "Pangram Sans", Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 200;
  color: #fff;
  line-height: 1.5em; }

input {
  font-family: "Pangram Sans", Helvetica, sans-serif; }

body {
  overflow: hidden; }

.deck {
  width: calc(100vw * 3);
  height: calc(100vh * 2);
  position: fixed;
  top: 0;
  transform: translateX(-33.33333%);
  transition-duration: 1s; }

.view-left {
  transform: translateX(0%); }

.view-right {
  transform: translateX(-66.66667%); }

.view-bottom {
  transform: translate(-33.33333%, -50%); }

.panel {
  height: 100vh;
  width: 100vw;
  position: fixed; }

.home {
  z-index: 100;
  top: 0;
  left: 100vw; }

.social-media {
  display: flex;
  justify-content: center; }

.sm-icon {
  height: 32px;
  padding: 16px; }

.resume {
  top: 0;
  left: 0; }

.portfolio {
  top: 0;
  right: 0; }

.contact {
  bottom: 0;
  left: 100vw; }

.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100; }

.background img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.background-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75); }

.nav-left, .nav-right {
  cursor: pointer;
  height: 100%;
  width: 32px;
  position: absolute;
  top: 0;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  transition-duration: 1s; }

.nav-right {
  right: 0; }

.nav-left {
  left: 0; }

.nav-bottom {
  cursor: pointer;
  height: 32px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  transition-duration: 1s; }

.nav-arrow, .nav-left-return,
.nav-left-return .nav-arrow,
.nav-right-return, .nav-right-return .nav-arrow,
.nav-bottom-return, .nav-bottom-return .nav-arrow {
  transition-duration: 1s; }

.nav-left-return {
  transform: translateX(-100%); }

.nav-left-return .nav-arrow {
  transform: rotate(180deg); }

.nav-right-return {
  transform: translateX(100%); }

.nav-right-return .nav-arrow {
  transform: rotate(180deg); }

.nav-bottom-return {
  transform: translateY(100%); }

.nav-bottom-return .nav-arrow {
  transform: rotate(180deg); }

input, textarea {
  border: none;
  outline: none;
  background: transparent; }

input, textarea {
  border-bottom: 3px solid #000;
  padding: 8px;
  font-family: "Pangram Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  transition-duration: 0.5s;
  width: 390px; }

input:focus, textarea:focus {
  border-bottom: 3px solid red;
  padding: 16px 8px;
  font-family: "Pangram Sans", Helvetica, sans-serif;
  font-size: 16px;
  transition-duration: 0.5s; }

input:valid, textarea:valid {
  border-bottom: 3px solid lime;
  transition-duration: 0.5s; }

button {
  cursor: pointer;
  color: black;
  border: 3px solid #000;
  background: transparent;
  font-family: "Pangram Sans", Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 500;
  padding: 16px;
  min-width: 100px;
  text-transform: uppercase;
  transition-duration: 0.5s; }

button:hover {
  background-color: #000;
  color: #fff;
  transition-duration: 0.5s; }

button:active {
  color: #777;
  transition-duration: 0s; }
