@keyframes fadeUp {
	0% {transform: translateY(100%); opacity: 0;}
	100% {transform: translateY(0%); opacity: 1;}
}
.fade-up {
	animation-name: fadeUp;
	animation-duration: 1s;
}

@keyframes fadeRight {
	0% {transform: translateX(-100%); opacity: 0;}
	100% {transform: translateX(0%); opacity: 1;}
}
.fadeRight {
	animation-name: fadeRight;
	animation-duration: 1s;
	opacity: 1;
}

@keyframes fadeLeft {
	0% {transform: translateX(100%); opacity: 0;}
	100% {transform: translateX(0%); opacity: 1;}
}
.fadeLeft {
	animation-name: fadeLeft;
	animation-duration: 1s;
	opacity: 1;
}