@keyframes fadeIn{
	0%{
		opacity:  0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes fadeOut{
	0%{
		opacity:  1;
	}
	100%{
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes fadeUp{
	0%{
		opacity:  0;
		transform: translateY(100%);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}


@keyframes slideRight {
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(0%);
	}
}
.slideRight{
	animation: slideRight 1s 1s forwards;
}