::selection{
	color: white;
	background-color: $color-brand;
}

::-webkit-scrollbar{
	border: 2px solid #000;
	width: 16px;
}
::-webkit-scrollbar-thumb{
	background-color: #000;
}

.form-alert{
	z-index: 1000;
	position: fixed;
	left: 0;
	right: 0;
	margin: 16px;
	padding: 16px;
	background-color: #000;
	background-clip: padding-box;
	border-sizing: border-box;
	display: none;
}
.space-content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.form-alert-text{
	color: #fff;
	font-size: 16px;
	line-height: 1em;
}
.hide-form-alert {
	height: 16px;
	width: 16px;
	position: relative;
	display: flex;
	margin-right: 4px;
	opacity: 0.85;
}
.hide-form-alert:hover{
	opacity: 1;
	cursor: pointer;
}
.hide-form-alert img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
@keyframes fadeUp {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
.success{
	display: block;
	animation: fadeUp 0.75s;
}