#hud {

}

.hud-item {
	display: flex;
	align-items: center;
	padding: 10px;
	margin: 30px;
	position: absolute;
	transition-duration: 0.5s;
}
.hud-item:hover{
	background-color: rgba(255, 255, 255, 0.15);
	transition-duration: 0.5s;
}
.hud-item:nth-child(2){
	right: 0;
	flex-direction: row-reverse;
}
.hud-item:nth-child(3){
	left: 0;
	bottom: 0;
}
.hud-item:nth-child(4){
	right: 0;
	bottom: 0;
	flex-direction: row-reverse;
}

.hud-icon {
	height: 40px;
	width: 40px;
}

.icon-color {
	fill: #fff;
}

.hud-caption {
	color: white;
	font-family: $font-sans-serif;
	font-size: 20px;
	opacity: 0;
	transform: translateX(-100%);
	transition-duration: 1s;
}
.hud-caption-right {
	transform: translateX(100%);
	transition-duration: 1s;
}
.hud-caption-container {
	overflow: hidden;
}

#letter {
	position: relative;
	transition-duration: $icon-speed;
}
#arrow {
	position: relative;
	transition-duration: $icon-speed;
}
#iris {
	position: relative;
	transition-duration: $icon-speed;
}