// clear inputs
input, input:focus, textarea{
	outline: none;
	background-color: none;
	border: none;
	color: #fff;
}

$input-border: 3px solid #777;
$input-border-focused: 3px solid $color-brand;
$input-border-valid: 3px solid green;
$input-transition-duration: 0.3s;
$input-padding: 8px;
$input-font-size: 16px;
$input-background-color: rgba(255, 255, 255, 0.15);
$input-background-color-focused: rgba(0, 0, 0, 0);
$input-width: calc(100% - 16px);

.form-group{
	position: relative;

}

label{
	font-family: $font-sans-serif;
	font-size: 0.8em;
	font-weight: 300;
	color: #fff;
	line-height: 1em;
	margin-bottom: 16px;
	margin-left: 8px;
	position: absolute;
	transition-duration: $input-transition-duration;
}
input, textarea{
	width: $input-width;
	margin-bottom: 16px;
	background-color: $input-background-color;
	border-bottom: $input-border;
	transition-duration: $input-transition-duration;
	padding: $input-padding;
	font-size: $input-font-size;
}
input:focus, textarea:focus{
	background-color: $input-background-color-focused;
	border-bottom: $input-border-focused;
	transition-duration: $input-transition-duration;
}
input:valid, textarea:valid{
	border-bottom: $input-border-valid;
}

input[type="submit"]{
	margin-top: 16px;
	border: none;
	padding: 16px;
	width: auto;
	background-color: white;
	color: black;
	border-radius: 30px;
}
input[type="submit"]:hover{
	background-color: #f1f1f1;
	cursor: pointer;
}