body{
	overflow: hidden;
}


.deck {
	width: calc(100vw * 3);
	height: calc(100vh * 2);
	position: absolute;
	top: 0;
	transform: translateX(-33.3333333333%);
	transition-duration: 1s;
}

.view-left {
	transform: translateX(0%);
}
.view-right {
	transform: translateX(-66.6666666666%);
}
.view-bottom {
	transform: translate(-33.3333333333%, -50%);
}

.panel {
	height: 100vh;
	width: 100vw;
	position: fixed;
}

.home{
	z-index: 100;
	top: 0;
	left: 100vw;
}
.blurb{
	width: calc(100% - 128px);
	overflow: hidden;
	opacity: 0;
	animation-delay: 3s;
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.blurb-content{
	opacity: 0;
	animation-delay: 2s;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
.social-media{
	display: flex;
	justify-content: center;
}
.sm-icon{
	height: 24px;
	width: 24px;
	padding: 16px;
}
.resume{
	top: 0;
	left: 0;
}
.portfolio{
	top: 0;
	right: 0;
}

.contact{
	bottom: 0;
	left: 100vw;
}

.background{
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -100;
}
.background img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.background-overlay{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.85);
}


// responsive grid
// Grid
.container-fluid{
	width: 100%;
	box-sizing: border-box;
}

.row{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.col{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.col-12{
	width: 100%;
}
.col-10{
	width: 83.33333%;
}
.col-8{
	width: 66.66666%;
}
.col-6{
	width: 50%;
}
.col-4{
	width: 33.33333%;
}
.col-3{
	width: 25%;
}
.col-2{
	width: 16.66666%;
}


@media only screen and (max-width: 768px){
	.col-tb-12{
		width: 100%;
	}
	.col-tb-10{
		width: 83.33333%;
	}
	.col-tb-8{
		width: 66.66666%;
	}
	.col-tb-6{
		width: 50%;
	}
	.col-tb-4{
		width: 33.33333%;
	}
	.col-tb-3{
		width: 25%;
	}
	.col-tb-2{
		width: 16.66666%;
	}
}

@media only screen and (max-width: 415px){
	.col-mb-12{
		width: 100%;
	}
	.col-mb-10{
		width: 83.33333%;
	}
	.col-mb-8{
		width: 66.66666%;
	}
	.col-mb-6{
		width: 50%;
	}
	.col-mb-4{
		width: 33.33333%;
	}
	.col-mb-3{
	width: 25%;
}
	.col-mb-2{
		width: 16.66666%;
	}
}