.modal {
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.75);
	padding: 30px;
}
.modal-bar {
	padding-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#hud {
	z-index: -2;
}
#welcome {
	z-index: -3;
}
.scene-overlay{
	z-index: -4;
}
#scene-container {
	z-index: -5;
}