.nav-arrow svg{
	width: 24px;
}
.nav-bottom .nav-arrow svg{
	width: unset;
	height: 24px;
}

.nav-left, .nav-right{
	cursor: pointer;
	height: 100%;
	width: 24px;
	position: absolute;
	top: 0;
	padding: 0px 16px;
	display: flex;
	align-items: center;
	transition-duration: 0.3s;
}
.nav-right{
	right: 0;
}
.nav-right:hover{
	padding-right: 0;
	padding-left: 32px;
	transition-duration: 0.3s;
}
.nav-left{
	left: 0;
}
.nav-left:hover{
	padding-left: 0;
	padding-right: 32px;
}
.nav-bottom{
	cursor: pointer;
	height: 24px;
	width: 100vw;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	padding: 16px 0;
	transition-duration: 0.3s;
}
.nav-bottom:hover{
	padding-bottom: 0;
	padding-top: 32px
}

.nav-arrow, .nav-left-return, 
.nav-left-return .nav-arrow,
.nav-right-return, .nav-right-return .nav-arrow,
.nav-bottom-return, .nav-bottom-return .nav-arrow {
	transition-duration: 0.3s;
}

.nav-caption{
	transition-duration: 0.3s;
	position: absolute;
	text-align: center;
	opacity: 0;
}

.nav-right-caption{
	transform: rotate(90deg);
	left: -16px;
}
.nav-right:hover .nav-right-caption, .nav-bottom:hover .nav-bottom-caption{
	opacity: 1;
	transition-duration: 0.3s;
}
.nav-bottom-caption{
	top: 0px;
}




.nav-right-return:hover .nav-right-caption, .nav-bottom-return:hover .nav-bottom-caption {
	opacity: 0;
}



// return states

.nav-left-return{
	transform: translateX(-100%);
}
.nav-left-return:hover{
	padding-right: 0;
	padding-left: 32px;
}
.nav-left-return .nav-arrow{
	transform: rotate(180deg);
}

.nav-right-return{
	transform: translateX(100%);
}
.nav-right-return:hover{
	padding-left: 0;
	padding-right: 32px;
}
.nav-right-return .nav-arrow{
	transform: rotate(180deg);
}

.nav-bottom-return{
	transform: translateY(100%);
}
.nav-bottom-return:hover{
	padding-top: 0;
	padding-bottom: 32px;
}
.nav-bottom-return .nav-arrow{
	transform: rotate(180deg);
}








// Mobile Menu
.menu{
	z-index: 102;
	position: fixed;
	top: 16px;
	right: 16px;
}

.menu-icon{
	background-color: #000;
	height: 32px;
	width: 32px;
	padding: 8px;
	cursor: pointer;
}
.menu-icon span{
	background-color: #fff;
	width: 32px;
	height: 4px;
	position: absolute;
	transition-duration: 0.3s;
}
.menu-icon span:nth-child(1){
	top: 12px;
}
.menu-icon span:nth-child(2){
	top: 22px;
}
.menu-icon span:nth-child(3){
	top: 32px;
}
// Menu toggled
.menu-icon-open span:nth-child(1){
	top: 22px;
	transform: rotate(45deg);
}

.menu-icon-open span:nth-child(2){
	opacity: 0;
}
.menu-icon-open span:nth-child(3){
	transform: rotate(-45deg);
	top: 22px;
}

.menu-links{
	position: absolute;
	top: 48px;
	right: 0;
	background-color: #000;
	padding: 16px;
	display: none;
}
.menu-link{
	color: white;
	font-family: $font-serif;
	font-size: 16px;
	font-style: italic;
	width: 200px;
	cursor: pointer;
	padding: 16px;
	border-bottom: 2px solid #333;
}
.menu-link:hover{
	background-color: #333;
}
.menu-link:last-child{
	border: none;
}



@media only screen and (max-width: 900px){
	.nav-left, .nav-right, .nav-bottom{
		display: none;
	}
}