#projects{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.project{
	position: relative;
	width: 50%;
	height: 200px;
}
.cover{
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.cover img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	// -webkit-filter: grayscale(100%);
 	// filter: grayscale(100%);
}

$project-info-padding: 20px;

.project-info{
	position: absolute;
	padding: $project-info-padding;
	height: calc(100% - 40px);
	width: calc(100% - 40px);
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.85);
	opacity: 0;
	transition-duration: 0.3s;
	text-align: center;
}
.project-info:hover{
	opacity: 1;
	// transition-duration: 0.3s;
}
#behance-badge{
	position: relative;
	width: 100%;
	height: 115px;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	justify-content: center;
}
@media only screen and (max-width: 415px){
	.project{
		width: 100%;
	}
}
