.resume .window{
	position: relative;
	height: calc(100% - 96px);
	width: calc(100% - 96px);
	padding: 32px;
	padding-right: 64px;
	padding-top: 64px;
}
.resume-content{
	height: 100%;
	overflow-x: scroll;
}
.resume-caption{
	text-align: right;
}