// Table of Contents
// - Colors
// - Typography


// Colors
$color-brand: red;
$color-dark: #212121;

// Typography
$font-serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-sans-serif: "Pangram Sans", Helvetica, sans-serif;
$font-monospace: "Lucida Console", Monaco, monospace;

// animation
$icon-speed: 0.3s;