#welcome {
	background-color: #000;
}

#welcome-message {
	font-family: $font-sans-serif;
	font-size: 5em;
	font-weight: light;
	color: #fff;
	text-align: center;
}

#welcome-message h1 {
	font-size: 1em;
	animation-name: fadeUp;
	animation-duration: 1s;
}